:root {
  --text: #04395e;
  --white: #ffffff;
}

* {
  transition: 0.3s all;
  user-select: none;
}

.todo-list {
  margin: 30px 0 0 30px;
  width: 500px;
  border-radius: 10px;
  // box-shadow: 0 3px 15px #000000ca;
  overflow: hidden;
  background-color: var(--white);

  & * {
    border-radius: 5px;
  }
  &__title {
    background: var(--text);

    &-text {
      color: var(--white);
      padding: 10px;
      font-size: 28px;
      margin: 0;
      font-weight: 500;
      border-radius: 5px;
      margin-bottom: 5px;
    }
  }

  &__null {
    font-size: 20px;
    font-weight: 500;
    padding: 5px;
    margin: 0;
    color: var(--text);
  }

  &__form {
    border-radius: 5px;
    //margin-top: 10px;
    background-color: var(--text);
    display: flex;
    padding: 5px;
    margin-top: 5px;

    & input {
      width: 100%;
      border: none;
      padding: 5px;
      font-size: 20px;
      font-weight: 500;
      color: var(--text);
    }

    & button {
      background-color: transparent;
      border: none;
      font-size: 18px;
      /* text-transform: uppercase; */
      color: var(--white);
      cursor: pointer;
      margin-left: 5px;
      white-space: nowrap;

      &:hover {
        background-color: var(--white);
        color: #04395e;
        font-weight: bold;
      }
    }
  }
}
