@import '~antd/dist/antd.css';

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

* {
  transition: 0.3s all;
  user-select: none;
}

:root {
  --text: #04395e;
}

.App {
  margin: 30px 0 0 30px;
  width: 500px;
  border-radius: 10px;
  /* box-shadow: 0 3px 15px #000000ca; */
  overflow: hidden;
  background-color: #ffffff;
}

.title__top {
  color: #ffffff;
  padding: 10px;
  font-size: 28px;
  margin: 0;
  font-weight: 500;
  border-radius: 5px;
  margin-bottom: 10px;
}

.task-form {
  border-radius: 5px;
  /* margin-top: 10px; */
  background-color: var(--text);
  display: flex;
  padding: 5px;
}

.task-form * {
  border-radius: 5px;
}

.task-form input {
  width: 100%;
  border: none;
  padding: 5px;
  font-size: 18px;
  font-weight: 500;
  color: var(--text);
}

.task-form button {
  background-color: transparent;
  border: none;
  font-size: 18px;
  /* text-transform: uppercase; */
  color: #ffffff;
  cursor: pointer;
  margin-left: 5px;
  white-space: nowrap;
}

.task-form button:hover {
  background-color: white;
  color: #04395e;
  font-weight: bold;
}

.task {
  display: flex;
  padding: 5px;
  margin: 5px;
  border-radius: 5px;
  justify-content: space-between;
}

.task:hover {
  background-color: #04395e3d;
}

.task p {
  font-size: 18px;
  font-weight: 500;
  margin: 0;
  color: var(--text);
}

.task-done {
  background-color: #00000027;
}

.task-done p {
  color: #00000050;
}

.task__title {
  font-size: 18px;
  font-weight: 500;
  margin: 0;
  color: var(--text);
  /* text-decoration: line-through; */
  /* background-color: #00000027; */
}


.action-btn {
  cursor: pointer;
  margin-left: 10px;
}

.action-btn:hover {
  background-color: #021a2b3d;
  border-radius: 5px;
}

.Buttons {
  display: flex;
  width: 55px;
  justify-content: space-between;
}

.null-tasklist {
  padding: 10px 0px 0px 10px;

}

.title {
  display: flex;
  justify-content: space-between;
  background: var(--text);
}

.exit__btn {
  background: url('./image/white.svg') no-repeat center;
  cursor: pointer;
  width: 50px;
  border: none;
  /* margin: 15px 10px; */
}

.exit__btn:hover {
  background: url('./image/bl.svg') no-repeat center;
  border: none;
  border-radius: 5px;
}



/*------------------------ ANTD-FORM----------------------------- */
body {
  background-color: rgba(200, 199, 199, 0.525);
  box-sizing: border-box;
}

.login-center {
  overflow: hidden;
}


.login-form {
  max-width: 450px;
  height: 450px;
  padding: 0 80px;
  display: grid;
  /* display: flex;
  flex-direction: column; */
  margin: 115px auto;
  text-align: center;
  background-color: white;
  border-radius: 5px;
  border: 2px solid #1890ff;
}

.logo {
  width: 100px;
  height: auto;
  margin: 24px auto 10px;
}

.login-form-forgot {
  float: right;
}

.login__inp {
  margin-bottom: 10px;
}

.ant-col-rtl .login-form-forgot {
  float: left;
}

.login-form-button {
  width: 120px;
  height: 40px;
}

.register-row {
  margin-top: 5px;
  margin-bottom: 0px;
}

.password-indent {
  /* margin-bottom: 30px; */
}

.register-form {
  max-width: 450px;
  display: flex;
  flex-direction: column;
  margin: 115px auto;
  background-color: #ffffff;
  padding: 24px 40px 0px;
  border: 2px solid #1890ff;
  border-radius: 5px;
  text-align-last: left;
}

h2 {
  font-size: 24px;
  text-align-last: center;
  margin-bottom: 24px
}

.register__btns {
  text-align: center;
}

.btn__cancel {
  margin-left: 10px;
}